hotel-concierge-agent.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        48
      ],
      "id": "5ebbd838-ee3e-4fb4-b30e-6c1ae1103d23",
      "name": "Guest Chat Input",
      "webhookId": "40e2fcb8-6f95-4d9b-9cca-6ffc02709a02"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.chatInput || '';\n\nif (input.trim().length === 0) {\n  throw new Error('Empty message received');\n}\n\nif (input.length > 1000) {\n  return { \n    output: \"Your message is too long. Please keep questions concise.\",\n    skip_agent: true \n  };\n}\n\n// Pass through normally\nreturn { chatInput: input.trim() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "5dc5eca7-2631-45b7-8795-3c14d4807c29",
      "name": "Input Guardrail"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a concierge AI assistant for The Amman Hotel.\n\n## Hotel Information\n- Location: 45 Seaside Boulevard, Amman\n- Check-in: 3:00 PM | Check-out: 12:00 PM\n- Amenities: Rooftop pool, spa, gym, business center, free WiFi\n- Rooms: Standard ($120/night), Deluxe ($180/night), Suite ($300/night)\n- The hotel restaurant is called \"Horizon Bistro\" — open 7am–11pm\n- Parking: Free for guests\n- Rooftop pool hours: 7:00 AM – 10:00 PM daily\n\n## Your Behaviour\n1. Answer hotel questions using the information above.\n2. If the guest asks about restaurant table availability, you MUST use the `check_restaurant_availability` tool — do not guess.\n3. If you cannot confidently answer a question, respond with exactly: ESCALATE: [reason]\n   Examples: \"ESCALATE: Guest is asking about a billing dispute\"\n             \"ESCALATE: Request involves accessibility needs I cannot confirm\"\n\nNever make up information. Be warm, professional, and concise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        0
      ],
      "id": "9182bacc-01f9-4389-b319-a7efa4be5c81",
      "name": "Hotel Concierge Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        192
      ],
      "id": "c626553d-7e18-4e08-a774-f66563ad281e",
      "name": "LLM: OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "WOcrJJdmdTR0hlxr",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        288
      ],
      "id": "f92fff54-6f9f-49ee-9fa5-4f755432e7a6",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e91e14e1-e35e-4c80-8b85-ac988d5b991c",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=ESCALATE:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        48
      ],
      "id": "bd6c7020-8591-4d33-b06a-b04de945f920",
      "name": "Escalation Router"
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output;\nconst reason = agentOutput.replace('ESCALATE:', '').trim();\n\nreturn {\n  json: {\n    escalation_reason: reason,\n    timestamp: new Date().toISOString(),\n    status: 'NEEDS_HUMAN_REVIEW'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -80
      ],
      "id": "ae392745-a689-486d-8efb-892a5cb4b229",
      "name": "Format Escalation Ticket"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Hotel Concierge Agent').first().json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        144
      ],
      "id": "c2e803ed-08d1-4e89-9270-63b9540d5913",
      "name": "Send Guest Reply"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2363468d-f2d1-4a6f-a49c-1ec8527bc103",
              "name": "output",
              "value": "I've escalated your request to our support team. Someone will follow up shortly.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -80
      ],
      "id": "e7c6edeb-011c-42f0-9b49-3b92de6fde90",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Guest Chat Input": {
      "main": [
        [
          {
            "node": "Input Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Guardrail": {
      "main": [
        [
          {
            "node": "Hotel Concierge Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hotel Concierge Agent": {
      "main": [
        [
          {
            "node": "Escalation Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Hotel Concierge Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Hotel Concierge Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Router": {
      "main": [
        [
          {
            "node": "Format Escalation Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Guest Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Escalation Ticket": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7625ecc2-7189-4c59-9777-0aff09b5c4a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d7493f98c0689cd0571f42575dd0194c974b13de2847225a3730bf2e9032be1"
  },
  "id": "PqDAtUVXyX6mJQ89",
  "tags": []
}